.all {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5rem 0rem;
    background-image: url('../../assets/img/fotominha.jpeg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 100% 50%;
}

.tecnologias {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 1rem 0;
}

.tecnologias li {
    font-size: 1.0rem;
    list-style: none;
    padding: 8px;
    flex-direction: column;
}

.tecnologias svg {
    border: 3px solid #dabfd1;
    padding: 8px;
    width: 50px;
    height: 45px;
    border-radius: 30px;
    color: #fff;
}

.tecnologias svg:hover {
    border: 2px solid #cc7bb1;
    border-radius: 30px;
}

.list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

#btn {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
    left: 3px;
    background-color: #740c51;
    border-radius: 10px;
    padding: 6px 12px 6px 12px;
    font-size: 25px;
    border: 2px solid #fcfc;
}

#btn:hover {
    box-shadow: 0 0 10px 0 #cc7bb1 inset, 0 0 10px 4px #d1aec6;
}

.content {
    margin: 1.5rem 1rem;
    background: none;
    z-index: 1;
}

.content h1 {
    text-shadow:
        0 0 7px #cfc2c2,
        0 0 10px #ffffff,
        0 0 21px #cc7bb1,
        0 0 42px #cc7bb1,
        0 0 82px #cc7bb1,
        0 0 92px #cc7bb1,
        0 0 102px #cc7bb1,
        0 0 151px #cc7bb1;
    animation: neon 3s alternate infinite ease-in-out;
    --cor-neon: rgb(211, 36, 153);
}

h1 {
    color: white;
    background: none;  
}

#title{
    font-size: 4rem;
    
  
}

.frontEND{
    border-right: 2px solid #fcfc;
    animation: blinkCursor 500ms steps(40) infinite normal, typing 4s steps(40) 1s normal both;
    animation-iteration-count: infinite;
    overflow:hidden;
    white-space: nowrap;
}

#download {
    text-decoration: none;
} 
@keyframes typing {
    from{
        width: 0;
        
    }
    to{
        width: 13em;
    }
}
 

@keyframes blinkCursor{
    from{
        border-right-color: #fcfc;
    }
    to{
        border-right-color: transparent;
    }
}
 
h3 {
    color: white;
    background: none;
}

.content h4 {
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 2rem;
}

#roxo {
    background: none;
}

span {
    background: none;
}

@keyframes neon {
    from {
        filter: drop-shadow(0 0 0 var(--cor-neon));

    }

    to {
        filter: drop-shadow(0 0 30px var(--cor-neon));
    }
}

@media screen and (min-width: 330px) and (max-width: 820px){
    #title{
        font-size: 2rem;
    }
    .all {
        background: none;
        height: 60vh;
    }

   .content h3 {
        font-size: 0.8rem;
    }
    
    .tecnologias li {
        font-size: 1.0rem;
        padding: 0.5rem 0;
    }
    
   .list ul {
         padding: 0;
         margin: 0;
    }

   #title h1{
        font-size: .5rem;
    }
    
}
 
@media screen and (min-width: 500px) and (max-width: 820px){
    .all {
        background: none;
        height: 80vh;
    }

    .content h3 {
        font-size: 1.2rem;
    }
}